
/* .pequeñosheroes001 {
        position: relative;
        left: 600px;
        width: 200px;
}
.exploradores001 {
        position: relative;
        left: 1200px;
        bottom: 580px;
        width: 200px;
}

.gruposkids img {
        position: relative;
        right: 150px;
        width: 600px;
}

#image2 {
        position: relative;
        left: 370px;
        bottom: 580px;
        width: 570px;
}

#image3 {
        width: 300px;
        position: relative;
        top: 500px;
}

h3 {
        width: 100px;
        position: relative;
        left: 920px;
        bottom: 550px;
}

#image4 {
        width: 250px;
        position: relative;
        top: 500px;
        right: 250px;
        
}

#imagenes1{
        width: 300px;
        height: 350px;
        left: 40px;
}
#profesores {
        width: 100px;
        position: relative;
        bottom: 10px;
        right: 350px;
}
#profesores2 {
        width: 100px;
        position: relative;
        bottom: 10px;
        right: 150px;
}

#profesores3 {
        width: 100px;
        position: relative;
        bottom: 10px;
        left: 35px;
}

#profesores4 {
        width: 100px;
        position: relative;
        bottom: 10px;
        left: 200px;
}

#profesores5 {
        width: 100px;
        position: relative;
        bottom: 10px;
        left: 450px;
}



#imagenes2 {
        width: 300px;
        height: 350px;
        left: 40px;
}

#imagenes3 {
        width: 300px;
        height: 350px;
        left: 10px;
}

#imagenes4 {
        width: 300px;
        height: 350px;
        left: 10px;
}

#imagenes5 {
        width: 300px;
        height: 350px;
        position: relative;
        left: 10px;
}

table {
        position: relative;
        left: 200px;
}

#profes {
        padding-left: 100px;
        width: 100px;
}
 */




